* {
    background-color: black;
    margin: 0;
    padding: 0;
}

.all {
    padding: 70px 400px 100px 430px;
}

.box1 {
    width: 200px;
    height: 200px;
    background-color: #f25022;
    display: inline-block;
}

.box2 {
    width: 200px;
    height: 200px;
    background-color: #7fba00;
    display: inline-block;
}

.box3 {
    width: 200px;
    height: 200px;
    background-color: #00a4ef;
    float: left;
}

.box4 {
    width: 200px;
    height: 200px;
    background-color: #ffb900;
    margin-left: 4px;
    float: left;
}

#name {
    margin-top: 150px;
    font-size: 40px;
    color: aliceblue;
    float: left;
    font-family: arial;
    margin-left: -385px;
    margin-top: 100px;
}

@media screen and (max-width:600px) {
    .all {
        padding: 300px 70px 10px 100px;
    }
    .box1 {
        width: 100px;
        height: 100px;
        background-color: #f25022;
        display: inline-block;
    }
    .box2 {
        width: 100px;
        height: 100px;
        background-color: #7fba00;
        display: inline-block;
    }
    .box3 {
        width: 100px;
        height: 100px;
        background-color: #00a4ef;
        float: left;
    }
    .box4 {
        width: 100px;
        height: 100px;
        background-color: #ffb900;
        margin-left: 4px;
        float: left;
    }
    #name {
        margin-top: 150px;
        font-size: 23px;
        color: aliceblue;
        float: left;
        font-family: arial;
        margin-top: 1px;
        margin-left: 97px;
    }
}